<div class="hero_section">
  <div class="hero_sec_content">
    <div class="hero_sec_col1">
      <div class="col1_content">
        <h1>
          Lorem ipsum dolor sit <br />
          amet consectetur
        </h1>
        <h1 class="second_title">Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, <br />
          consectetur adipiscing elit, sed do eiusmod.
        </p>
        <div class="hero_button">
          <button>
            See the best franchises
            <img src="../../../assets/images/playIcon.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="hero_sec_col2">
      <!-- <img src="../../../assets/images/herosectionImage.png" alt="" /> -->
    </div>
    <div class="hero_sec_mobile">
      <img src="../../../assets/images/heroSectionMobile.png" alt="" />
    </div>
  </div>
</div>
