<div class="list_section">
  <div class="list_section_main">
    <div class="list_section_heading desktop">
      <h1>Lorem Ipsum Dolor</h1>
    </div>
    <div class="list_section_content">
      <div class="list_content">
        <ul>
          <li>
            <img src="../../../assets/images/check.svg" alt="" /> Lorem ipsum
            dolor sit amet.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Aliquam
            tincidunt mauris eu risus.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Morbi in sem
            quis dui placerat ornare, Pellentesque.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Nunc dignissim
            risus id metus.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Integer vitae
            libero ac risus egestas placerat.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />
            Vivamus vestibulum ntulla nec ante. Praesent placerat risus quis
            eros.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit.
          </li>
        </ul>
      </div>
    </div>

    <div class="list_section_content_mobile">
      <div class="list_section_heading">
        <h1>Lorem Ipsum Dolor</h1>
      </div>
      <div class="list_content">
        <ul>
          <li>
            <img src="../../../assets/images/check.svg" alt="" /> Lorem ipsum
            dolor sit amet.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Aliquam
            tincidunt mauris eu risus.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Morbi in sem
            quis dui placerat ornare, Pellentesque.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Nunc dignissim
            risus id metus.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Integer vitae
            libero ac risus egestas placerat.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />
            Vivamus vestibulum ntulla nec ante. Praesent placerat risus quis
            eros.
          </li>
          <li>
            <img src="../../../assets/images/check.svg" alt="" />Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
