<div class="hero_section">
  <div class="hero_sec_content">
    <div class="hero_sec_col1">
      <div class="col1_content">
        <h1>
          Lorem Ipsum Dolor Sit Amet <br />
          <span>LOREM IPSUM</span>
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
          Suspendisse urna nibh, viverra non, semper suscipit, posuere a, <br />
          <br />
          pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
          odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
          Suspendisse urna nibh, viverra.
        </p>
        <div class="hero_button">
          <button>
            Schedule a call today!

            <img src="../../../assets/images/playIcon.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
