<div class="grantee_section">
  <div class="grantee_container">
    <h2>Lorem Ipsum Dolor Sit Amet</h2>
    <img src="../../../assets/images/grantee.svg" alt="" />
    <div class="grantee_para">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis
        Suspendisse urna nibh. <br />
        <br />
        Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
        sit amet orci. Aenean dignissim pellentesque felis. <br />
        <br />
        Morbi in sem quis dui placerat ornare pellentesque
      </p>
    </div>
    <div class="grantee_schedulebtn">
      <app-schedulebutton></app-schedulebutton>
    </div>
  </div>
</div>
