<div>
  <app-menu></app-menu>
  <app-hero-section></app-hero-section>
  <app-list-section></app-list-section>
  <app-places-section></app-places-section>
  <app-seo-section></app-seo-section>
  <app-cards-section></app-cards-section>
  <app-steps-section></app-steps-section>
  <app-schedule-call></app-schedule-call>
  <app-success-stories></app-success-stories>
  <app-garantee-section></app-garantee-section>
  <app-working-session></app-working-session>
  <app-footer-session></app-footer-session>
</div>
